body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(64, 64, 77);
}

.container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
  background-color: #f9f9f9;
}

h1 {
  margin-bottom: 20px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
}

.login-btn{
  padding: 10px;
  border: none;
  background-color: #82aa84;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #7b967c;
}






